html{
    box-sizing: border-box;

}

body{
    color: #050C0D;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    background-color: rgba(42,43,48, 0.1);
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul, ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h3{
    margin-bottom: 20px;
    font-size: 30px;
}

.header .container, .section-main .container, .about-us .container{
    height: 100%;
    overflow: hidden;
}

.header{
    height: 100vh;
    background-size: cover;
    background-position: center center;
    padding-top: 40px;
}
 .header-inner{
     position: relative;
     z-index: 3;
 }

.header-menu__text, .logo, .footer-logo {
    font-size: 20px;
    margin-bottom: 0;
}

.menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 425px;
    overflow: hidden;
    /*background-color: #400105;*/
    /*background-color: #2a2b30;*/
    background-color: #4A4B51;
    padding: 20px;
    transition: all 1.5s;
    transform: translateX(140%);

}

.menu.menu--active{
    transform: translateX(0);
}

.menu .nav-link{
    color: #fff;
    padding: 0.1rem 1rem;
    display: inline-block;
    transition: all 0.3s;
}

.menu .nav-link:hover{
    color: #fff;
    box-shadow: 0 2px 8px 8px rgba(255, 255, 255, .13);
    border-radius: 8px;
}

.menu .nav-link--category{
    font-weight: 700;
    font-size: 22px;
}

.header-tel, .footer-tel{
    font-size: 18px;
}

.header-menu__icon  {
    width: 40px;
    height: 40px;
}

.header-title{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 100px;
    line-height: 110px;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}


.category-link{
    border-radius: 8px;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.category-link:hover{
    box-shadow: 0 2px 8px 8px rgba(255, 255, 255, .4);
    background-color: rgba(0, 0, 0, 0.1);
}

.category-link__icon {
    width: 80px;
    height: auto;
}

.category-link__icon.lake, .category-link__icon.trowel {
    padding: 5px;
}

.category-link__text{
    font-size: 24px;
    line-height: 30px;
    max-width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-arrow{
    width: 66px;
    height: auto;
    animation-name: down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes down {
    0%,100%{transform:translateY(0)}
    50%{transform:translateY(20px)}
}


.section-main{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.section-main__info-title{
    font-size: 100px;
    line-height: 150px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.section-main__info-text{
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 40px;
    color: #fff;
}


.section-main__info-button{
    font-size: 24px;
    color: #fff;
    background-color: #9a010c;
    padding: 18px 30px;
    min-width: 300px;
    text-align: center;
    border-radius: 8px;
    transition: all .3s;
}

.section-main__info-button:hover{
    box-shadow: 1px 4px 16px 11px rgba(255, 255, 255, 0.55);
    color: #fff;
}


/*CATEGORIES*/

.categories{
    margin:  50px 100px ;
}

.categories-wrap{
    padding:  50px 0;
}

.categories-item{
    min-height: 550px;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
    box-shadow: 1px 4px 10px 8px rgba(42,43,48, 0.5);
    padding: 50px;
}

.categories-info{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.categories-title{
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
}

.categories-text{
    font-size: 20px;
    font-weight: 500;
}

.categories-button.catalog-button{
    max-width: 300px;
}


.about-us {
    position: relative;
    padding: 230px 0 100px;
}

.about-svg{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.about-info{
    font-size: 18px;
}

.footer{
    /*background-color:#400105 ;*/
    /*background-color: #2a2b30;*/
    background-color: #4A4B51;
}

.footer-menu{
    font-size: 18px;
}



/*CATALOG*/

.catalog{
    margin: 100px 0;
}

.catalog-descr{
    font-size: 20px;
    margin-bottom: 50px;
}

.catalog-card{
    display: block;
    width: 30%;
    padding: 25px;
    border: 1px solid #2a2b30;
    box-shadow: 1px 4px 10px 8px rgba(42,43,48, 0.2);
    margin-bottom: 50px;
    background-color: #fff;
}

.catalog-card:hover{
    box-shadow: 1px 4px 10px 8px rgba(42,43,48, 0.4);
}

.catalog-card .card{
    border: none;
}

.card-title{
    font-size: 26px;
    padding: 15px 0 5px;
    font-weight: 700;
    text-align: center;
}

.card-text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.catalog-button{
    font-size: 24px;
    line-height: 60px;
    color: #fff;
    background-color: #9a010c;
    height: 60px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    transition: all .3s;
    margin-top: 15px;
}

.catalog-button:hover{
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    box-shadow: 1px 4px 16px 11px rgba(179,1,14, 0.3);
}

.information{
    margin: 100px 0;
}


/*PRODUCT*/

.products{
    padding: 100px 0;
    border-bottom: 1px solid  #2a2b30;

}

.product{
    border: 1px solid #2a2b30;
    box-shadow: 1px 4px 10px 8px rgba(42,43,48, 0.3);
    padding: 40px;
    background-color: #fff;
}

.product + .product {
    margin-top: 50px;
}

.product-info{
    padding-right: 80px;
}

.product-info-item{
    display: flex;
    justify-content: space-between;
}

.product-img img{
    width: 100%;
    height: auto;
}

.similar-products{
    padding: 100px 0;
}

/*CONSTRUCTION*/

.construction-button{
    max-width: 300px;
}

.construction-button-img{
    width: 26px;
    height: auto;
}

/*SERVICES*/

.service{
    padding: 100px 0;
}

.service-inner{
    padding: 30px;
    box-shadow: 1px 4px 12px 12px rgba(42,43,48, 0.3);
    background-color: #fff;

}

.service-img{
    width: 100%;
}

.service-list{
    padding-left: 40px;
}




/*MEDIA*/

@media (max-width: 1200px) {
    
}